<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>vue-template</title>
		<link href="./src/css/normalize/normalize.css" rel="stylesheet" />
		<link href="./src/css/tailwind/output.css" rel="stylesheet" />
		<link href="./src/css/element_plus/index.css" rel="stylesheet" />
		<script src="./src/lib/vue3/vue.global.prod.js"></script>
		<script src="./src/lib/element_plus/index.full.min.js"></script>
	</head>
	<body>
		<div id="app">
			<div class="h-20 w-60 bg-amber-600">tailwind css</div>
			<br />
			{{ message }}
			<br />
			<el-button type="success">Success</el-button>
		</div>
	</body>
</html>

<script type="module">
	const { createApp, ref } = Vue
	createApp({
		setup() {
			const message = ref("Hello Vue!")
			return {
				message,
			}
		},
	})
		.use(ElementPlus)
		.mount("#app")
</script>
